autopep8
bidict
certifi
cffi
charset-normalizer
click
colorama
filelock
Flask
Flask-Cors
Flask-SocketIO
future
gevent
gevent-websocket
greenlet
idna
itsdangerous
Jinja2
MarkupSafe
pycodestyle
pycparser
PySocks
python-engineio
python-socketio
requests
requests-file
six
tldextract
toml
urllib3
Werkzeug
zope.event
zope.interface